@import "../SharedStyles.scss";

$border: 2px solid #e4e4e4;

.canvas {
  min-width: 320px;
  max-width: 800px;
  background-color: #fafafa;
  padding: $spacing-3;
  &-header {
    font-size: 1.2rem;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-actions {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &-button {
      max-height: 30px;
    }
    &-search {
      margin-right: $spacing-2;
    }
  }
  &-nodes {
    margin-top: $spacing-4;
  }
}

.node-widget {
  border: $border;
  width: 300px;
  height: auto;
  font-size: 1rem;
  background-color: white;
  &-header {
    padding: $spacing-1;
    position: relative;
    height: 24px;
    line-height: 24px;
    font-weight: 600;
    &-editor {
      cursor: pointer;
      border-bottom: 1px solid #e4e4e4;
      &:focus {
        outline: none;
      }
    }
    &-button {
      position: absolute;
      top: $spacing-1;
      right: $spacing-1;
      height: $hit-area-2;
      width: $hit-area-2;
      padding: 0;
      border: none;
      font-size: 16px;
    }
  }
  &-ports {
    padding: $spacing-1;
    border-top: $border;
  }
  & + & {
    margin-top: $spacing-2;
  }
}

.port-widget {
  display: flex;
  align-items: center;

  &.highlighted &-hitarea {
    background-color: #ffb74d;
  }
  &-hitarea {
    width: 14px;
    height: 14px;
    margin-right: $spacing-1;
    background-color: #90a4ae;
  }

  & + & {
    margin-top: $spacing-1;
  }
}
