html,
body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #242424;
  margin: 0;
  padding: 0;
}

.button {
  background: white;
  box-shadow: none;
  outline: none;
  font-weight: 600;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  color: #616161;
  border: 2px solid #bdbdbd;
  &:hover {
    color: #424242;
  }
  &.primary {
    color: #3f51b5;
    border: 2px solid #5c6bc0;
    &:hover {
      color: #303f9f;
    }
  }
}
